<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AWS API Gateway Test</title>
    <meta name="description" content="AWS API Gateway Test">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>
<body style="padding:40px;">
<div id="app">
<h3>API Test</h3>
<input v-model="record.age" placeholder="age">
<input v-model="record.height" placeholder="height">
<input v-model="record.income" placeholder="income">
<h6><span class="badge badge-secondary">{{ apiUrl }}</span></h6>
<button type="button" @click="onPost()" class="btn btn-outline-primary">POST</button>
<button type="button" @click="onDelete()" class="btn btn-outline-primary">DELETE</button>
<button type="button" @click="onGet('all')" class="btn btn-outline-primary">GET ALL</button>
<button type="button" @click="onGet('single')" class="btn btn-outline-primary">GET SINGLE</button>
<h6><span class="badge badge-secondary">Response</span></h6>
<div v-if="showSuccess" class="alert alert-success" role="alert">
    {{ message }}
</div>
<div v-if="showError" class="alert alert-danger" role="alert">
    {{ message }}
</div>

</div>

<script>
var app = new Vue({
    el: '#app',
    data: {
        apiUrl: 'https://ddcp2vwpo3.execute-api.ap-southeast-1.amazonaws.com/devapi/compare-yourself', // add your api endpoint here
        message: '',
        record: {
            age: '',
            height: '',
            income: ''
        },
        showSuccess: false,
        showError: false
    },
    methods: {
        onPost: function () {
            this.showSuccess = false
            this.showError = false
            console.log('sending post request to ' + this.apiUrl)
            var xhr = new XMLHttpRequest()
            xhr.open('POST', this.apiUrl)
            xhr.onreadystatechange =  (event) => {
                console.log(event.target.response)
                this.message = event.target.response
                this.showSuccess = true
            }
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.send(JSON.stringify({ 
                "age": parseInt(this.record.age), 
                "height": parseInt(this.record.height), 
                "income": parseInt(this.record.income) 
            }))
        },
        onDelete: function () {
            this.showSuccess = false
            this.showError = false
            console.log('sending post request to ' + this.apiUrl)
            var xhr = new XMLHttpRequest()
            xhr.open('DELETE', this.apiUrl)
            xhr.onreadystatechange =  (event) => {
                console.log(event.target.response)
                this.message = event.target.response
                this.showSuccess = true
            }
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.send()
        },
        onGet: function (param) {
            this.showSuccess = false
            this.showError = false
            console.log('sending post request to ' + this.apiUrl + '/' + param)
            var xhr = new XMLHttpRequest()
            xhr.open('GET', this.apiUrl + '/' + param)
            xhr.onreadystatechange =  (event) => {
                console.log('Response: ' + event.target.response)
                this.message = event.target.response
                this.showSuccess = true
            }
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.send()
        }
    }
})
</script>
</body>
</html>